
<div id="main-header">
  <div class="text container">
    <h1>Swapster</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
  </div>
</div>
<div class="search container">
    <input [(ngModel)]="terms"type="search" class="input-search" name="title" required placeholder="What do you need?">
    <button (click)="handleFilterClick()" class="btn-search"><i class="fas fa-search fa-2x"></i></button>
</div>
<div class="items container">
    
<ul >
    <li *ngFor="let item of items">
      <a [routerLink]="['/items',item._id]">
        <app-item-card [item]="item"></app-item-card>
      </a>
    </li>
  </ul>
</div>