<nav id="site-header" class="container" >
  <div class="logo">
      <i class="fas fa-sync fa-3x"></i>
  </div>
  <div class="menu" [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="loading">
      <span class="username text">Loading...</span>
    </div>
    <div *ngIf="!loading && !!user">
      <p>{{user.username}}</p>
      <a [routerLink]="['/profile',user._id]"><i class="fas fa-cog fa-2x"></i></a>
      <a (click)="logout()"><i class="fas fa-power-off fa-2x"></i></a>
    </div>
    <div *ngIf="!loading && anon">
      <a [routerLink]="['/login']">Login</a>
      <a [routerLink]="['/signup']">Signup</a>
    </div>
  </div>
</nav>

<div id="site-main">
  <router-outlet></router-outlet>
</div>

<div id="site-footer" class="container">
  <hr/>
  <div class="personal-info">
    <p>&#169; 2018 <a href="http://ioanaorca.com" target="_blank">IoanaOrca</a></p>
    <div class="personal-links">
        <a href="https://www.linkedin.com/in/ioana-iordache-6226006b/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/IoanaOrca" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
    </div>
  </div>
</div>