<ng-container *ngIf="!user">
    Loading...
  </ng-container>
  
  
  <ng-container *ngIf="user" >
  <h3>{{user.username}}</h3>
  </ng-container>
  <ul *ngFor="let item of items" class="container">
      <li>
          <a [routerLink]="['/items',item._id]">
            <app-item-card [item]="item"></app-item-card>
          </a>
      </li>
  </ul>
  <div *ngIf="user._id === currentUser._id">
  <a [routerLink]="['/items/add']">Add Item</a>
  <a [routerLink]="['/profile/requests']">Requests</a>
  </div>