
  
<div class="container">
<ng-container *ngIf="!user">
    Loading...
</ng-container>
<ng-container *ngIf="user" >

        <div *ngIf="user._id !== currentUser._id">
            <h3>{{user.username}}</h3>
        </div>

        <ul *ngFor="let item of items">
            <ng-container *ngIf="!item">
                Loading...
            </ng-container>
            <ng-container *ngIf="item">
            <li>
                <a [routerLink]="['/items',item._id]">
                    <app-item-card [item]="item"></app-item-card>
                </a>
            </li>
            </ng-container>
        </ul>

        <div *ngIf="user._id !== currentUser._id">
        
            <ul *ngFor="let review of user.reviews">
                    <li>
                    <p>{{review.rating}}-{{review.description}}</p>
                    </li>
            </ul>

        </div>

    <div *ngIf="user._id === currentUser._id">
        <a [routerLink]="['/items/add']">Add Item</a>
        <a [routerLink]="['/profile',user._id,'requests']">Requests</a>
    </div>
</ng-container>
</div>