<div *ngIf="!item">
    Loading...
  </div>
  
  <div *ngIf="item" >
      <!-- <img src='https://www.google.es/search?rlz=1C5CHFA_enES787ES787&biw=1280&bih=726&tbm=isch&sa=1&ei=mWH1WpCqN8SlUeeEi5gF&q=bicicle&oq=bicicle&gs_l=img.3..0l10.407154.411529.0.411812.21.13.6.1.1.0.231.976.5j3j1.9.0....0...1c.1.64.img..5.16.1013.0..35i39k1j0i67k1.0.UY1qEzy3yrg#imgrc=4lzdM427af_aKM:' alt="sweather"> -->
      <div class="item-title">
        <h3>{{item.price}}-{{item.title}}</h3>
      </div>
      <p>{{item.description}}</p>
  </div>
  
  